---
permalink: /api/concepts.json
---
[
  {% for item in collections.concept  %}{% set data = item.data  %}
      {
        "principleName": "{{ data.concept.principleName }}",
        "aliases": {{ data.concept.aliases | dump | safe }},
        "primaryJurisdiction": "{{ data.concept.primaryJurisdiction }}",
        "fieldOfLaw": "{{ data.concept.fieldOfLaw }}",
        "coreConcept": {{ data.concept.coreConcept | dump | safe }},
        "discovery": {{ data.concept.discovery | dump | safe }},
        "deconstruction": {{ data.concept.deconstruction | dump | safe }},
        "dissemination": {{ data.concept.dissemination | dump | safe }},
        "deployment": {{ data.concept.deployment | dump | safe }},
        "relevantPrinciples": {{ data.concept.relevantPrinciples | dump | safe }}
      }{{ '' if loop.last else ',' }}
  {% endfor  %}
]
