---
layout: layout/base.njk
---

{% block hero %}
<style>
  .hero {
    background:
      linear-gradient(to top, transparent, #1a1a1a38 70%),
      rgba(30, 41, 59, 0.5); /* Add a semi-transparent dark blue/gray BG */
    background-size: cover;
  }
</style>

{# Hero #}
<div class="w-full flex mx-auto hero">
  <div id="hero" class="mt-24 container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
    <div id="hero-label" class="flex flex-col w-full md:w-3/5 justify-center items-start text-center md:text-left">
      <span class="text-4xl text-white">{{ slogan }}</span>
      <div class="block my-2 ">
        <a href="{{ hero_button_link | url}}" class="text-base text-white border-2 border-white hover:bg-primary p-2 rounded-lg no-underline hover:text-white">{{ hero_button_text | safe}}</a>
      </div>
    </div>
    <div id="hero-visual" class="w-full md:w-2/5 py-6 text-center">
      <span class="text-lg text-white">
        <img class="w-2 md:w-2/5 z-50" src="{{ "images/logo.png" | url }}">
      </span>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container w-full flex flex-wrap mx-auto px-2 pt-8 ">
  <div class="content w-full text-gray-700  p-2">
    {{ content | safe }}
  </div>

  <div class="content w-full text-gray-700 bg-gray-100 shadow-md rounded-md p-2">
    <a href="{{ "pages/articles" | url}}"><h2 class="leading-normal break-words" >{{ site.articles }}</h2></a>
    {% for post in posts %}
      <article>
        <div>
          <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </div>
        {{ post.date | formatDate("DD") }}
      </article>
    {% endfor %}
  </div>

  {% if not (disableComments or false) %}
  <div class="content w-full">
    <div id="disqus_thread"></div>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}

{% endblock %}
